.dash-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.dash-list{
    display: flex;
    gap: 10px;
    margin-top: 5rem;
    padding: 20px;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dash-listitem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.dash-heading{
    font-size: 29px;
    font-weight: 700;
}
.dash-contentouter{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.innermain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: 2px solid black;
    padding: 11px;
    border-radius: 6px;
    background-color: rgb(207, 204, 204);
}
.newbtn,.edit-btn,.delete-btn{
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;

}